
<nav class="navbar navbar-expand-lg navbar-dark  ">
    <a class="navbar-brand" [routerLink]="['/']"><h2 style="color:black">Stock Market</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex ">    
          <li class="nav-item" *ngIf="authService.isLoggedin">
            
          </li>   
      </ul>  
      <div *ngIf="authService.isLoggedin" >
        <a class="nav-link" [routerLink]="['/']" (click) ="onLogout()"> <button class="btn btn-info" type="button">Logout</button></a>
      </div>
      <div *ngIf="!authService.isLoggedin">
        <a  [routerLink]="['/Register']"><button type="button" class="btn btn-info mr-5" >Register</button></a>      
      </div>
      <div class="dropdown" *ngIf="!authService.isLoggedin">
          <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
           Login As
          </button>
          <div class="dropdown-menu" >
            <a class="dropdown-item" [routerLink]="['/AdminLogin']">Admin Login</a>
            <a class="dropdown-item" [routerLink]="['/UserLogin']">User Login</a>
          </div>
        </div>
    </div>
  </nav>