<app-admin-nav></app-admin-nav>
<div class="back d-flex justify-content-center">
        <div class=" form col-4 p-5 m-5">
            <form (ngSubmit)="onSubmit()">
                <h1 style="font-family:cursive;text-align:center;color:white;">Update Stock</h1>
                <div class="form-group">
                  <label for="stockname">Stock Name</label>
                  <input type="text" [(ngModel)]="stockname" [ngModelOptions]="{standalone: true}" class="form-control" id="stockname"  placeholder="Enter Stock name" required>
                </div>
                <div class="form-group">
                  <label for="ceo">CEO</label>
                  <input type="text" [(ngModel)]="ceo" [ngModelOptions]="{standalone: true}" class="form-control" id="ceo" placeholder="Enter CEO"required>
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="form-control" id="description" placeholder="Enter Description"required>
                </div>
                <div class="form-group">
                        <label for="ipodate">IPO Date</label>
                        <input type="date" [(ngModel)]="ipodate" [ngModelOptions]="{standalone: true}" class="form-control" id="ipodate"  required>
                </div>   
                <button type="submit"  class="btn btn-success" >Update</button><br><br>
              </form>
            </div>
        </div>